@model IEnumerable<Book_Doctor_appointment.Models.Myappointments>

@{
    ViewBag.Title = "Myappointments";
}

<h2>My appointments</h2>

<p>
    <a href="/Hospital/Index/@ViewBag.Userid" class="btn btn-primary btn-default">Book Appointment &raquo;</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dateofappointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timeslot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booked_Date)
        </th>
        <th>
             <p>Status</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateofappointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timeslot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booked_Date)
            </td>
            <td>
                @{


                    DateTime today = DateTime.Today;
                }
                @if ((item.Dateofappointment) < today)
                {
                    <p>Done</p> }
                else
                {
                    @Html.ActionLink("Cancel Appointment", "CancelAppointment", new { id = item.Id })
                }

            </td>
        </tr>
    }

</table>


