@model Book_Doctor_appointment.Models.loginuser

@{
    ViewBag.Title = "login";
}
<br />
<span class="alert-success">
    @ViewBag.Message
</span>


<h2>Login</h2>

<p >
    If you are a doctor <a href="/Login/LoginDoctor" class="link-blue">click here </a>
    to login
</p>
@using (Html.BeginForm("Loginsearch", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <style>
    </style>
    <div class="form-horizontal">

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Emailid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emailid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Emailid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Userpassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Userpassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Userpassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="login" class="btn btn-default" />
                <br />
                <br />
                <div class="text-danger">
                    @ViewBag.data    
                </div>
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
